<!DOCTYPE html>
<html>
<head>
  <title>VOYAGER</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <h1>Voyager: home#index</h1>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>